argon2-cffi==19.1.0
Babel==2.7.0
cffi==1.12.3
confusable-homoglyphs==3.2.0
Django==2.2.24
django-appconf==1.0.3
django-crispy-forms==1.7.2
django-formtools==2.1
django-ipware==2.1.0
django-otp==0.6.0
django-phonenumber-field==1.3.0
django-ratelimit==2.0.0
django-registration==3.0.1
django-two-factor-auth==1.8.0
django-useraudit==1.7.0
phonenumberslite==8.10.12
pycparser==2.19
pytz==2019.1
qrcode==6.1
six==1.12.0
sqlparse==0.3.0
