html {
    text-align: center;
}

body {
    background-color: #3f3f3f;
    margin: auto;
    text-align: center;
    color: white;
}

h1 {
    color: #00c0c0;
}

.filter_word {
    color: #00c0c0;
    font-style: italic;
}

form input {
    background-color: #4d4d4d;
    border: none;
}

.card {
    background-color: #4d4d4d;
    border-radius: 5px;
    border-color: #00c0c0;
}

.login_body {
    background-color: #3f3f3f;
    border-color: #00c0c0;
}

.login_body input {
    border: none;
    background-color: #4d4d4d;
    width: 200px;
}

.card input {
    margin: auto;
    border: none;
}

.input-group {
    margin: 10px;
}

.input-group-text {
    background-color: #353535;
    color: #00c0c0; 
    border:none;
}

.btn-primary {
    background-color: #00c0c0;
    font-weight: bold;
    border: none;
    width: 80px;
    border-radius: 4px;
    margin-top: 15px;
}

.btn-primary:hover {
    background-color: #009999;
    color: white;
}

.form-control {
    background: #3f3f3f;
    border: none;
}