<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %} | TWEETSTORM</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  {% load cache_bust %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}?{% cache_bust %}">
  <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}?{% cache_bust %}">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}?{% cache_bust %}">
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/script.js' %}"></script>
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">TWEETSTORM</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>

        {% if request.user.is_authenticated %}

          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ request.user.username }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'user_profile' request.user.username %}">Profile</a>
            <a class="dropdown-item" href="{% url 'change_password' %}">Change password</a>
            <a class="dropdown-item" href="{% url 'two_factor:profile' %}">Account security</a>
            <div class="dropdown-divider"></div>
            <form method="post" action="{% url 'safe_logout' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-link dropdown-item">Log out</button>
            </form>
          </div>
        </li>

        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'two_factor:login' %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'django_registration_register' %}">Sign up</a>
          </li>

        {% endif %}

      </ul>


      <form class="form-inline my-2 my-lg-2" method="get" action="{% url 'tweets-filter_posts' %}">
        <input class="form-control mr-sm-2" name="query" type="search" placeholder="user:<user> and/or <words>" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>


  <main role="main">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">

          {% if messages %}
              {% for message in messages %}
              <div class="alert alert-primary {% if message.tags %} class="{{ message.tags }}"{% endif %}" role="alert">
              {{ message }}
              </div>
              {% endfor %}
          {% endif %}
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
  </main>
</body>
</html>
