{% extends "base_generic.html" %}
{% block content %}
<div class='card'>
  <div class="card-body">
    <h5 class="card-title">Filter</h5>
    <form>
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="Word">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="User">
        </div>
      </div>
    </form>
  </div>  
  
</div>
<br>
<div class='card'>
  <div class="card-body">
    <h3 class="card-title full-width text-center">FEED</h3>
    
    <!-- for each tween here -->
    <div class='card'>
      <div class="card-body">
          <div class="row">
              <div class="col-md-10"><b>username</b></div>
              <div class="col-md-2 text-right"> <a href="#"><span class="text-danger fa fa-window-close"></span></a></div>
          </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
      </div>
    </div>
    
    <!-- end for here -->
  </div>
</div>
{% endblock %}