<div class='card'>
  <div class="card-body">
    <h5 class="card-title">Input <span class="filter_word">word</span> and/or <span class="filter_word">username</span > to filter tweets ...</h5>
    <form>
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="Word">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="User">
        </div>
      </div>
      <button type="button" class="btn btn-primary">Search</button>
    </form>
  </div>  