<div class="card filter">
  <div class="card-body">
    <span class="filter_word">Input <em>word</em> and/or <em>username</em> to filter tweets ...</span>
    <form>
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="Word">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="User">
        </div>
      </div>
      <button type="button" class="btn btn-primary">Search</button>
    </form>
  </div>