<div class="login_body">
  <form method="post" action="{% url 'login' %}">
  {% csrf_token %}
  
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">@</span>
        </div>
        <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon2">??</span>
        </div>
        <input type="password" class="form-control" placeholder="Password" aria-describedby="basic-addon2">
      </div>
  
     <button type="button" class="btn btn-primary">Login</button>
  </form>
  </div>
