{% load get_vote %}

<div class="tweet">
  <div class='card'>
      <div class="card-body">
        <div class="row">
          <div class="col-md-10">
            <form class="{% if request.user.is_authenticated %}cansubmit{% endif %}">
              {% csrf_token %}
              {% if request.user.is_authenticated %}
                {% get_vote post request.user as user_vote %}
              {% endif %}
              <input type="hidden" name="post_id" value="{{post.id}}" />
              <strong><a href="{% url 'user_profile' post.author %}">{{ post.author }}</a></strong> &nbsp; <a href="{% url 'post_page' post.pk %}"><time title="{{ post.date_posted }}" datetime="{{ post.date_posted|date:"c" }}">{{ post.date_posted|timesince }} ago</time></a> &nbsp;
                <i class="fas fa-thumbs-up vote mr-2 {% if user_vote == 1 %} text-success {% endif %}"></i><span class="up_count">{{ post.num_up_votes }} </span>
               <i class="fas fa-thumbs-down vote mr-2 {% if user_vote == -1 %} text-danger {% endif %}"></i><span class="down_count">{{ post.num_down_votes }} </span>
            </form>
          </div>
            {% if request.user.is_authenticated %}
              {% if post.author == user %}
                <div class="col-md-2 text-right">
                    <a href="{% url 'delete-post' post.id %}"><i class="fa fa-window-close text-danger"></i></a>
                </div>
              {% endif %}
            {% endif %}
        </div>
        <p>{{ post.text }}</p>
      </div>
    </div>
</div>
