<div class="tweet">
  <div class='card'>
      <div class="card-body">
        <div class="row">
            <div class="col-md-10"><b>{{ post.author }} | {{ post.date_posted }} | {{ post.num_up_votes }} | {{ post.num_down_votes }} </b></div>
            {% if user.is_authenticated %}
              {% if post.author == user %}
                <div class="col-md-2 text-right">
                  <form action="" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="post_id" value="{{post.id}}">
                    <button type="submit" class="btn text-danger"><i class="fa fa-window-close"></i></button>
                  </form>
                </div>
              {% endif %}
            {% endif %}
        </div>
        <p>{{ post.text }}</p>
      </div>
    </div>
</div>
